{% extends "frontend/bases/main.html" %}
{% load static %}

{% block content %}
<div class="main-content">
    <div class="news_section">
        <div class="container">
            <div class="sec_title">
                <h1><span>SIGN UP</h1>
            </div>

            <div class="row">
                <div class="account-form-section">
                    <form method="post" class="account-form" id="sign-up">
                        {% csrf_token %}
                        {% if error_message %}
                        <div class="alert alert-warning">{{ error_message }}</div>
                        {% endif %}
                        <p><input type="text" name="user" placeholder="Username" minlength="8" pattern="^[a-zA-Z0-9_]+$" required /></p>
                        <p><input type="email" name="email" placeholder="Email address" required /></p>
                        <p><input type="password" name="pass" placeholder="Password" minlength="8" required /></p>
                        <p><input type="password" name="confirm_pass" placeholder="Confirm password" minlength="8" required /></p>
                        <div class="btn-group">
                            <button type="submit" class="btn btn-color"><span>Create an account</span></button>
                            <a href="/signin/" class="btn"><span>Sign In</span></a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
