{% extends "frontend/bases/main.html" %}
{% load static %}

{% block content %}
<section class="account" style="background-image: url('{% static '/public/assets/bg-9.jpg' %}');">
    <div class="account-wrap">
        <h1>Forgot password?</h1>
        <form method="post" class="account-form" id="forgot-password">
            {% csrf_token %}
            <p><input type="email" name="email" placeholder="your_email@domain.com" required /></p>
            <button type="submit" class="btn btn-color"><span>Request recovery link</span></button>
        </form>
    </div>
</section>
{% endblock content %}
