{% extends "frontend/bases/main.html" %}
{% load static %}

{% block content %}
<div class="main-content">
    <div class="news_section">
        <div class="container">
            <div class="sec_title">
                <h1><span>Reset password?</h1>
            </div>

            <div class="row">
                <div class="account-form-section">
                    <form method="post" class="account-form reset-password-form">
                        {% csrf_token %}
                        {% if error %}
                        <div class="alert alert-warning">{{ error }}</div>
                        {% endif %}
                        <p><input type="password" name="password" placeholder="New password" minlength="8" required /></p>
                        <p><input type="password" name="password_confirmation" placeholder="Password confirmation" minlength="8" required /></p>
                        <div class="btn-group">
                            <button type="submit" class="btn btn-color"><span>Reset password</span></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
