{% extends "frontend/bases/main.html" %}
{% load static %}

{% block content %}
<section class="account" style="background-image: url('{% static '/public/assets/bg-9.jpg' %}');">
    <div class="account-wrap">
        <div class="alert alert-info">Please choose and confirm your new password</div>
        {% if error %}
        <div class="alert alert-warning">{{ error }}</div>
        {% endif %}
        <form method="post" class="account-form reset-password-form">
            {% csrf_token %}
            <p><input type="password" name="password" placeholder="New password" minlength="8" required /></p>
            <p><input type="password" name="password_confirmation" placeholder="Password confirmation" minlength="8" required /></p>
            <div class="btn-group">
                <button type="submit" class="btn btn-color"><span>Reset password</span></button>
            </div>
        </form>
    </div>
</section>
{% endblock content %}
