{% extends "frontend/bases/main.html" %}
{% load static %}

{% block content %}
<div class="main-content">
    <div class="news_section">
        <div class="container">
            <div class="sec_title">
                <h1><span>Forgot password?</h1>
            </div>

            <div class="row">
                <div class="account-form-section">
                    <form method="post" class="account-form" id="forgot-password">
                        {% csrf_token %}
                        <p><input type="email" name="email" placeholder="your_email@domain.com" required /></p>
                        <button type="submit" class="btn btn-color recovery-btn"><span>Request recovery link</span></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
