{% extends "frontend/bases/main.html" %}
{% load static %}
{% load markdown_extras %}
{% load mathfilters %}

{% block content %}
{% if request.session.name %}
<span class="my-cart desktop_view">
    <span id="my-cart-title">
        <span id="cart-badge">0</span>
        <span>My Cart</span>
    </span>
    
    <div class="mycart-tooltip">
        <span class="tooltip-close">x</span>
        <div class="cart-body">
            
        </div>
        <div class="cart-footer">
            <a href="/shop/cartitems/view/" class="btn btn-color checkout-btn" style="display: block;"><span>View Cart</span></a>
        </div>
    </div>
</span>
{% endif %}
<div class="main-content">

    <div class="shop_page">
        <div class="container">
            <div class="sec_title">
                <h1><span>MY</span> CART</h1>
            </div>

            <table class="cart-table">
                <thead>
                    <tr>
                        <th>PRODUCT NAME</th>
                        <th>QUANTITY</th>
                        <th>PRICE</th>
                        <th>AMOUNT</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% if cartItems|length %}
                    {% for cartItem in cartItems %}
                        <tr>
                            <td style="vertical-align: middle;">
                                <div style="display: flex;align-items: center;">
                                    <img src="/media/{{cartItem.image}}" style="width:50px;margin-right:5px;">
                                    <span>{{cartItem.title}}</span>
                                </div>
                            </td>
                            <td>{{cartItem.quantity}}</td>
                            <td>$ {{cartItem.price}}</td>
                            <td>$ {{cartItem.quantity|mul:cartItem.price}}</td>
                            <td>
                                <div class="remove-cartBtn-wrapper">
                                    <button data-id="{{cartItem.id}}" class="btn-remove-cartItem" style="background: transparent;border: none;cursor: pointer;">
                                        <img src="{% static 'public/assets/remove-icon.png' %}">
                                    </button>
                                </div>
                            </td>
                        </tr>
                    {% endfor  %}
                    {% else %}
                        <tr>
                            <td colspan="5" style="text-align: center;">Empty Cart</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
            {% if cartItems|length %}
                <div class="subtotal_div">
                    <div class="total_price">
                        <h4>Total Amount: ${{total_price}}</h4>
                    </div>
                    <div class="check_out">
                        <a href="/checkout/" type="button" class="btn btn-color text-uppercase">
                            <span>Check Out</span>
                        </a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>

<script type="text/javascript">
    $(".btn-remove-cartItem").click(function() {
        var cartItem_id = $(this).data('id');
        var row = $(this).parent().parent().parent();
        var current_amount = parseFloat($(this).parent().parent().prev().text().split(" ")[1]);
        if (confirm('Are you sure you want to delete this item?')) {
          fetch("/api/cartitems/delete/", {
            method: 'POST',
            headers: {
                "Content-Type": "application/json",
                'X-CSRFToken': $('input[name="csrfmiddlewaretoken"]').val()
            },
            body: JSON.stringify(
                { cartItem_id: cartItem_id }
            )
          })
            .then(function (response) {
              return response.json();
            })
            .then(function (result) {
              if(result.status) {
                $("#cart-badge").text(parseInt($("#cart-badge").text()) - parseInt($('div[data-product-id="'+result.product_id+'"] .cart-item-product-quantity').text()));
                if(parseInt($("#cart-badge").text()) == 0) $("#cart-badge").hide();
                $("#total-amount").text(parseFloat($("#total-amount").text()) - current_amount);
                $('div[data-product-id="'+result.product_id+'"]').remove();
                row.remove();
                var rows = $('.cart-table tbody tr').length;
                if(rows == 0) {
                    $("#wrapper-checkout-btns").hide();
                    $('.cart-table tbody').append(`<tr>
                            <td colspan="5" style="text-align: center;">Empty Cart</td>
                        </tr>`);
                }
              }
            })
            .catch(function (error) {
                console.error('Error:', error);
            });
        }
      });
</script>

{% endblock content %}
