{% extends "frontend/bases/main.html" %}
{% load static %}
{% load markdown_extras %}


{% block content %}
<div class="main-content">
    <section class="hero-section" style="background-image: url('{% static 'homepage/images/preloader.png' %}');">
        <div class="res_video">
            <img class="preloader" src="{% static 'homepage/images/preloader.png' %}" alt="preloader">
        </div>
        <div class="hero-wrap">
            <img src="{% static 'homepage/images/hero_logo-1.png' %}" alt="Space Misfits">
            <p class="text-white">Available on PC</p>
            <div class="btn-group">
                <a href="/download/" class="btn btn-color"><span>Download</span></a>
                <a href="/shop/" class="btn"><span>Shop now</span></a>
            </div>
        </div>
    </section>

    <section class="section video-section">
        <div class="video-section-bg"></div>
        <div class="container">
            <div class="section-content">
                <h2><span class="perpal-text">Space misfits</span> video</h2>
                <p class="section-description text-white">Check out videos from SpaceMisfits content creators
                    where they share their stories and secrets.From epic moments to tips & tricks, learn from
                    community members so you can play like the best and be better than the rest.</p>
            </div>
            <div class="res_video">
                <video id="my-video" class="video-js" controls preload="auto" width="640" height="264"
                    poster="{% static 'homepage/images/homepage-video-preview.png' %}" data-setup="{}">
                    <source src="{% static 'public/assets/Space Misfits Trailer TEXT BOX.mov' %}" type="video/mp4">
                    <source src="{% static 'public/assets/Space Misfits Trailer TEXT BOX.mov' %}" type="video/webm">
                    <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to
                        a
                        web browser that <a href="https://videojs.com/html5-video-support/"
                            target="_blank">supports HTML5 video</a>
                    </p>
                </video>

            </div>
        </div>
    </section>


    <section class="features-sec py-5">
        <div class="container">

            <div class="row features-item py-4 my-5">
                <div class="col-lg-5 col-12">
                    <div class="features-item-text">
                        <h3>{{ content.fight_title | safe }}</h3>
                        <p class="text-white mt-3">{{ content.fight_description | safe }}</p>
                    </div>
                </div>
                <div class="col-lg-7 col-12">
                    <div class="features-image">
                        <img src="{% static 'homepage/images/fight.png' %}" alt="image" class="img-fluid ">
                    </div>
                </div>
            </div>

            <div class="row features-item py-4 my-5">
                <div class="col-lg-5 col-12">
                    <div class="features-item-text">
                        <h3>{{ content.explore_title | safe }}</h3>
                        <p class="text-white mt-3">{{ content.explore_description | safe }}</p>
                    </div>
                </div>
                <div class="col-lg-7 col-12">
                    <div class="features-image">
                        <img src="{% static 'homepage/images/explore.png' %}" alt="image" class="img-fluid ">
                    </div>
                </div>
            </div>

            <div class="row features-item py-4 my-5">
                <div class="col-lg-5 col-12">
                    <div class="features-item-text">
                        <h3>{{ content.build_title | safe }}</h3>
                        <p class="text-white mt-3">{{ content.build_description | safe }}</p>
                    </div>
                </div>
                <div class="col-lg-7 col-12">
                    <div class="features-image">
                        <img src="{% static 'homepage/images/build.png' %}" alt="image" class="img-fluid ">
                    </div>
                </div>
            </div>

            <div class="row features-item py-4 my-5">
                <div class="col-lg-5 col-12">
                    <div class="features-item-text">
                        <h3>{{ content.trade_title | safe }}</h3>
                        <p class="text-white mt-3">{{ content.trade_description | safe }}</p>
                    </div>
                </div>
                <div class="col-lg-7 col-12">
                    <div class="features-image">
                        <img src="{% static 'homepage/images/trade.png' %}" alt="image" class="img-fluid ">
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section class="partner-logos-sec py-5">
        <div class="hs__container">
            <div class="hs__wrapper">
                <div class="hs__header">
                    <div class="hs__arrows"><a class="arrow disabled arrow-prev"></a><a class="arrow arrow-next"></a></div>
                </div>
                <ul class="hs">
                    <li class="hs__item"> 
                        <img class="hs__item__image" src="{% static 'homepage/images/Partner Logos/logo-animoca.png' %}" alt="Animoca"/>
                    </li>
                    <li class="hs__item"> 
                        <img class="hs__item__image" src="{% static 'homepage/images/Partner Logos/gd10.png' %}" alt="GD10 Ventures"/>
                    </li>
                    <li class="hs__item"> 
                        <img class="hs__item__image" src="{% static 'homepage/images/Partner Logos/MasterVenturesHorizontal.png' %}" alt="Master Ventures"/>
                    </li>
                    <li class="hs__item"> 
                        <img class="hs__item__image" src="{% static 'homepage/images/Partner Logos/ENJFI+LOGO+LONG+WHITE.png' %}" alt="EnjFi"/>
                    </li>
                    <li class="hs__item"> 
                        <img class="hs__item__image" src="{% static 'homepage/images/Partner Logos/enjinstarter.webp' %}" alt="EnjinStarter"/>
                    </li>
                    <li class="hs__item"> 
                        <img class="hs__item__image" src="{% static 'homepage/images/Partner Logos/exnetwork.png' %}" alt="Exnetwork"/>
                    </li>
                    <li class="hs__item"> 
                        <img class="hs__item__image" src="{% static 'homepage/images/Partner Logos/MEXC.jpg' %}" alt="MEXC"/>
                    </li>
                    <li class="hs__item hs__item_ygg"> 
                        <img class="hs__item__image" src="{% static 'homepage/images/Partner Logos/yggguilds.png' %}" alt="YGG"/>
                    </li>
                    <!-- <li class="hs__item"> 
                        <img class="hs__item__image" src="" alt="LVT Capital"/>
                    </li>
                    <li class="hs__item"> 
                        <img class="hs__item__image" src="" alt="WWVentures"/>
                    </li>
                    <li class="hs__item"> 
                        <img class="hs__item__image" src="" alt="Trustpad"/>
                    </li> -->
                    <li class="hs__item"> 
                        <img class="hs__item__image" src="{% static 'homepage/images/Partner Logos/Logo-white-new_png.png' %}" alt="Seedify"/>
                    </li>
                    <!-- <li class="hs__item"> 
                        <img class="hs__item__image" src="" alt="DCI Capital"/>
                    </li> -->
                    <li class="hs__item"> 
                        <img class="hs__item__image" src="{% static 'homepage/images/Partner Logos/logo no background1.png' %}" alt="Avstar Capital"/>
                    </li>
                    <li class="hs__item"> 
                        <img class="hs__item__image" src="{% static 'homepage/images/Partner Logos/THREE M LOGO WHITE (8).png' %}" alt="Three M"/>
                    </li>
                    <!-- <li class="hs__item"> 
                        <img class="hs__item__image" src="" alt="Satoshi Club"/>
                    </li> -->
                    <li class="hs__item"> 
                        <img class="hs__item__image" src="{% static 'homepage/images/Partner Logos/MagnusLogo-PSD_white.png' %}" alt="Magnus Capital"/>
                    </li>
                    <!-- <li class="hs__item"> 
                        <img class="hs__item__image" src="" alt="Dreamboat Capital"/>
                    </li> -->
                    <li class="hs__item"> 
                        <img class="hs__item__image" src="{% static 'homepage/images/Partner Logos/Logo-2.png' %}" alt="Acknoledger"/>
                    </li>
                    <!-- <li class="hs__item"> 
                        <img class="hs__item__image" src="" alt="Focus Visual"/>
                    </li> -->
                    <li class="hs__item"> 
                        <img class="hs__item__image" src="{% static 'homepage/images/Partner Logos/Aussie Capital WHITE.png' %}" alt="Aussie Capital "/>
                    </li>
                </ul>
            </div>
        </div>
    </section>


    <section class="latest-news-sec py-5 pt-0">
        <div class="container">
            <div class="row tittle-row">
                <div class="col-md-12">
                    <div class="section-content">
                        <h2>{{ content.news_title | safe }}</h2>
                        <p class="section-description text-white">{{ content.news_description | safe }}</p>
                    </div>
                </div>
            </div>

            {% if posts %}
            <div class="row mt-5 pt-3">
                {% for post in posts %}
                    {% if post.preview %}
                    <div class="col-lg-6 col-12">
                        <div class="news_block">
                            <div class="img_block">
                                <img src="{{ post.preview.url }}" alt="">
                            </div>
                            <div class="content_block">
                                <span class="date">{{ post.created_at | date }}</span>
                                <h4 class="truncate-1">{{ post.title | safe }}</h4>
                                <div class="blog-short-content truncate-1">
                                    <span>{{ post.content | markdown | safe }}</span>
                                </div>
                                <a href="/news/{{ post.slug }}/" class="btn btn-color text-uppercase read-more">
                                    <span>Read More</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
            {% endif %}

        </div>
    </section>


    <section class="join-com-sec py-5 pt-0">
        <div class="container">
            <div class="join-bg bg-img" style="background-image: url('{% static 'homepage/images/community.png' %}');">
                <div class="overlay-bg"></div>
                <div class="row tittle-row">
                    <div class="col-md-12 py-5 px-5">
                        <div class="section-content w-100 py-5 px-5 m-4">
                            <h2><mark>Join</mark> Our Community </h2>
                            <p class="btn-area text-white mt-4">
                                <a href="{{ content.telegram_link }}" class="telegram" target="_blank"><i class="fa fa-telegram"></i>Telegram</a>
                                <a href="{{ content.discord_link }}" class="discord" target="_blank"><i class="fa fa-user"></i></i>Discord</a>
                                <a href="https://twitter.com/SpaceMisfits" class="twitter" target="_blank"><i class="fa fa-twitter"></i></i>Twitter</a>
                                <a href="https://www.facebook.com/spacemisfits" class="facebook" target="_blank"><i class="fa fa-facebook"></i></i>Facebook</a>
                                <a href="https://space-misfits.gitbook.io/whitepaper/" class="whitepaper" target="_blank"><i class="fa fa-user"></i></i>Whitepaper</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <section class="faq_section">
        <div class="container">
            <div class="section-content text-center">
                <h2 class="">{{ content.faq_title | safe }}</h2>
                <p class="section-description text-white">{{ content.faq_description | safe }}</p>
            </div>
            <div class="panel-group" id="accordion">
                {% for title, description in content.faq_json.items %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion"
                            href="#{{ title.strip }}">
                            {{ title | safe }}
                        </h4>
                    </div>
                    <div id="{{ title.strip }}" class="panel-collapse collapse">
                        <div class="panel-body">
                            {{ description | markdown | safe }}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="newslatter_section">
        <div class="container">
            <div class="section-content text-center">
                <h2 class=""><span class="perpal-text">NEWSLETTER</span></h2>
                <p class="section-description text-white">SIGN UP TO GET UPDATES.</p>
            </div>
            <div class="form_block">
                <form id="news_letter_form">
                    {% csrf_token %}
                    <div class="input-filed">
                        <input id="subscribe_email" type="email" placeholder="Enter your Email" required />
                    </div>
                    <button class="btn btn-color text-uppercase" type="submit"><span>Subscribe</span></button>

                </form>
            </div>
        </div>
    </section>
</div>

{% endblock content %}
